/* Select Controller */
.select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.25vw;
}

.select-label {
  border: none;
  padding: 1vw 0vw;
  text-align: center;
  min-width: 10vw;
  font-weight: 500;
}

.select-component {
  text-align: center;
  font-size:max(14px, 1.5vh);
  border: none;
  border-radius: 12px;
  min-width: 10vw;
  min-height: 2em;
  background-color: var(--sub-background-color);
}

